/*font*/
@font-face {
    font-family: "UberMove";
    font-display: fallback;
    src: url("asset/fonts/fonts/UberMove-400.woff2") format("woff2");
    font-weight: 400;
  }
  @font-face {
    font-family: "UberMove";
    font-display: fallback;
    src: url("asset/fonts/fonts/UberMove-500.woff2") format("woff2");
    font-weight: 500;
  }
  @font-face {
    font-family: "UberMove";
    font-display: fallback;
    src: url("asset/fonts/fonts/UberMove-700.woff2") format("woff2");
    font-weight: 700;
  }
  @font-face {
    font-family: "UberMoveText";
    font-display: fallback;
    src: url("asset/fonts/fonts/UberMoveText-400.woff2") format("woff2");
    font-weight: 400;
  }
  @font-face {
    font-family: "UberMoveText";
    font-display: fallback;
    src: url("asset/fonts/fonts/UberMoveText-500.woff2") format("woff2");
    font-weight: 500;
  }
  @font-face {
    font-family: "UberMoveText";
    font-display: fallback;
    src: url("asset/fonts/fonts/UberMoveText-700.woff2") format("woff2");
    font-weight: 700;
  }

  :root{
    --primary:#000000;
    --secondary:#ffffff
  }
body{
    margin: 0;
    padding: 0;
}
/*home*/
.wrapper{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    background-image: url("https://www.ubereats.com/_static/d8ceaf24a3164759.webp");
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    overflow: hidden;
}
/*header*/
.header-head{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 10vh;
    display: flex;
}
/*header left side*/
.header-head-1 {
    margin: 0;
    width: 45%;
    height: 10vh;
    display: flex;
}
.head-burger {
    margin-left: 18px;
    margin-top: 14.3px;
    width: 36px;
    height: 36px;
} 
.head-logo{
    padding-left: 18px;
    margin-top: 16px;
}
.head-logo img{
    height: 16px;
    width: auto;
}
.space{
    margin: 0;
    padding: 0;
    width: 12%;
    height: 10vh;
}
/* header right side*/
.header-head-2{
    margin: 0;
    width:42%;
    height: 10vh;
    display: flex;
}
.head-account{
    width: 26.7%;
    height: 6.5vh;
    margin-top: 6px;
    border-radius :500px;
    background-color:var(--secondary);

}
.head-account svg{
    width: 16.3px;
    height: 16.1px;
    padding-left: 9.5px;
    padding-top: 9.8px;
}
.signup{
    margin-top: 6px;
    margin-left: 12px;
    background-color:var(--primary);
    height: 20.2px;
    border-radius: 500px;
    padding: 8px 12px;
}
.signup a{
    text-decoration: none;
    color:var(--secondary);
    font-size: 14px;
    font-family:"UberMoveText";
    align-items: center;
    font-weight: 500;
    line-height: 16px;
    display: block;
    padding: 0.3px;
    padding-left: 0.3px;
    padding-top: 0.5px;
    padding-bottom: 0.3px;
    padding-right: 0.2px;
    margin-top: 1px;
}
.main{
    position: relative;
}
/*banner*/
.wrapper-banner{
    position: absolute;
    padding: 0 16px;
    top:0.2vh;
    font-family: UberMove, sans-serif;
    font-size: 36px;
    letter-spacing: normal;
    font-weight: 500;
    line-height: 44px;
    color: var(--primary);
    cursor:pointer;
}
/*banner end */

/* home form*/

.wrapper-form{
   width:100vh;
}

/* delivery  address start*/

.input-container-1{
    width:51.7vh;
    height:9.8vh;
    background-color:var(--secondary);
    display: flex;
    position: absolute;
    top: 30.5vh;
    margin-left: 16px;
    padding: 0.7px;
    margin-bottom: 5px;
}
.input-container-1 img{
    width:24px;
    height:24px;
    margin-top: 15px;
    margin-left: 15px;
}
.input-container-1 .text{
    color: #4B4B4B;
    font-size: 16px;
    margin-left: 12.2px;
    margin-top: 17px;
    font-family: "UberMoveText";
}
/*delivery adress end */

/*delivery time start */

.input-container-2{
    width:52vh;
    height:10.1vh;
    background-color:var(--secondary);
    display: flex;
    position: absolute;
    top: 42vh;
    margin-left: 16px;
    padding: 0.8;
    margin-top: 0px;
}
.input-container-2 img{
    width:24px;
    height:24px;
    margin-top: 16px;
    margin-left: 16px;
}
.input-container-2 .text{
    color: var(--primary);
    font-size: 16px;
    margin-left: 12px;
    font-weight:500;
    font-family:"UberMoveText";
    margin-top:18px;
}
#drop{
    margin-left:113px;

}

/* end delivery time*/

/*---------------search button----------*/

.input-container-3{
    width:52vh;
    height:10.1vh;
    background-color:var(--primary);
    display: flex;
    position: absolute;
    top: 55vh;
    margin-left: 16px;
    margin-top: 0px;
    border-radius: 8px;
}
.input-container-3 a{
    text-decoration: none;
    margin-top:16px;
    margin-left: 94px;
    font-size: 18px;
    color: var(--secondary);
    font-family:"UberMoveText";
    font-weight:500; 
    line-height: 24px;
}
/*end search button*/
/*signIn link*/
.input-container-4{
    width:52vh;
    height:2vh;
    color:var(--primary);
    display: flex;
    position: absolute;
    top: 66vh;
    margin-left: 16px;
    margin-top: 18px;
}
.input-container-4 a{
    text-decoration: underline;
    font-size: 14px;
    color: var(--primary);
    font-family:"UberMoveText" ;
    font-weight:500; 
    margin-top: 0.5px;
}
.input-container-4 p{
    margin-top:1px;
    margin-right: 3px;
    font-family:"UberMoveText" ;
    font-weight: 500;
    font-size: 14px;

}
/* end*/

/*app*/
.app{
padding-top:14px;
margin-top: 15px;
display: flex;
}
.uber-logo{
    margin-left: 16px;
    margin-top: -1px;;
    width:25%;
    height:10vh;
}
.uber-logo img {
    margin-top: 30px;
    height: 64.1px;
    width: 64.1px;
}
.uber-content{
    margin-top: -5px;
    margin-left: 0px;
    font-size: 24px;
    font-weight:700;
    width:65%;
    font-family:"UberMove";
    line-height: 28px;   
}
/*end of app*/
.uber-applink{
    margin-top:9px;
    width: 100%;
    display:flex;
}
#applogo{
    width: 40%;
 display: flex;
 float: left;
}
#applogo img{
    margin-left:97px;
    margin-top: 2px;
    width: 18px;
    height: 18px;
}
 .text-app{
    margin-top: 0%;
    margin-left:-4.5px;
    width: 50%;
    color: var(--primary);
    display: flex;
    font-family: "UberMoveText";
    font-weight:500;
    font-size:18px;
}
/* service*/
.service{
    width: 100%;
    height: auto;
    display: flex;
    flex-flow: column;
    margin-top: 65px;
}
/*---- service 1------*/
.service-1{
    margin-left: 5px;
    width: 98%;
    height: auto;
}
.service-1 img{
    margin-top: 1px;
    margin-left: 10.5px;
    width: 288px;
    height: 175x;
}
.service-1 p{
    font-size: 28px;
    margin-left: 15px;
    font-family:"UberMove";
    font-weight:700;
    font-size:24px;
    margin-top:5px;
    margin-left: 11px;
    margin-bottom: 10px;
}
.service-1 a{
    font-family: "UberMoveText";
    font-weight: 500;
    font-size: 16px;
    color: var(--primary);
    margin-left: 11px;
    margin-top:px;
}
/*------ service 2-------*/
.service-2{
    margin-top:15px;
    width: 90%;
    height: auto;
}
.service-2 img{
    margin-left: 10px;
    width: 290px;
    height: 175x;
}
.service-2 p{
    font-size: 28px;
    margin-left: 7px;
    font-family:"UberMove";
    font-weight:700;
    font-size:24px;
    margin-top:1px;
}
.service-2 a{
    margin-top: 0px;
    font-family: "UberMoveText";
    font-weight: 500;
    font-size: 16px;
    color: var(--primary);
    margin-left: 15px;
}
/*-----service 3-----*/
.service-3{
    margin: 5px;
    width: 90%;
    height: auto;
}
.service-3 img{
    margin-left: 10px;
    width: 290px;
    height: 175x;
}
.service-3 p{
    font-size: 28px;
    margin-left: 15px;
    font-family:"UberMove";
    font-weight:700;
    font-size:24px;
    margin-top:1px;
    margin-bottom: 5px;
}
.service-3 a{
    margin-top: 0px;
    font-family: "UberMoveText";
    font-weight: 500;
    font-size: 16px;
    color: var(--primary);
    margin-left: 15px;
}
/*------end------*/
.map{
    margin-top: 30px;
}
.map h2{
    font-size: 24px;
    font-weight: 700;
    font-family:"UberMove";
    margin-left: 10px;
    margin-bottom: 0px;
}
.map img{
    margin: 0;
}
.grid-container-city{
    display: flex;
    font-size:16px;
    font-family:"UberMoveText";
    font-weight:normal;
    line-height:24px;
    margin-left :10px;
}
.city-left{
    font-size: 16px;
    font-family: "UberMoveText";
    font-weight:normal;
    margin-left: 10px;
}
.city-right{
    font-size: 16px;
    font-family: "UberMoveText";
    font-weight:normal;
    margin-left: 70px;
}
.cities-links{
    margin-top: 20px;
    margin-left:15px;
    color: var(--primary);
}
.cities-links a{
    color: #000000;
}
.grid-container-country{
    display: flex;
    font-size:16px;
    font-family:"UberMoveText";
    font-weight:normal;
    line-height:24px;
    margin-left :10px;
    margin-top: 20px;
}
.country-left{
    font-size: 16px;
    font-family: "UberMoveText";
    font-weight:normal;
    margin-left: 10px;
}
.country-right{
    font-size: 16px;
    font-family: "UberMoveText";
    font-weight:normal;
    margin-left: 20px;
}
#country-link{
    margin-top: 20px;
    margin-left:15px;
    color: var(--primary);
}
#country-link a{
    color: #000000;
}