/*font*/
@font-face {
    font-family: "UberMove";
    font-display: fallback;
    src: url("/asset/fonts/fonts/UberMove-400.woff2") format("woff2");
    font-weight: 400;
  }
  @font-face {
    font-family: "UberMove";
    font-display: fallback;
    src: url("asset/fonts/fonts/UberMove-500.woff2") format("woff2");
    font-weight: 500;
  }
  @font-face {
    font-family: "UberMove";
    font-display: fallback;
    src: url("asset/fonts/fonts/UberMove-700.woff2") format("woff2");
    font-weight: 700;
  }
  @font-face {
    font-family: "UberMoveText";
    font-display: fallback;
    src: url("asset/fonts/fonts/UberMoveText-400.woff2") format("woff2");
    font-weight: 400;
  }
  @font-face {
    font-family: "UberMoveText";
    font-display: fallback;
    src: url("asset/fonts/fonts/UberMoveText-700.woff2") format("woff2");
    font-weight: 500;
  }

  :root{
    --primary:#000000;
    --secondary:#ffffff
  }
body{
    margin: 0;
    padding: 0;
}
/*home*/
.wrapper{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    background-image: url("https://www.ubereats.com/_static/d8ceaf24a3164759.webp");
    background-repeat: no-repeat;
    background-size:cover;
    overflow: hidden;
}
/*header*/
.header-head{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 10vh;
    display: flex;
}
/*header left side*/
.header-head-1 {
    margin: 0;
    width: 45%;
    height: 10vh;
    display: flex;
}
.head-burger {
    margin-left: 18px;
    margin-top: 14.3px;
    width: 36px;
    height: 36px;
} 
.head-logo{
    padding-left: 18px;
    margin-top: 16px;
}
.head-logo img{
    height: 16px;
    width: auto;
}
.space{
    margin: 0;
    padding: 0;
    width: 12%;
    height: 10vh;
}
/* header right side*/
.header-head-2{
    margin: 0;
    width:42%;
    height: 10vh;
    display: flex;
}
.head-account{
    width: 26.7%;
    height: 6.5vh;
    margin-top: 6px;
    border-radius :500px;
    background-color:var(--secondary);

}
.head-account svg{
    width: 16.3px;
    height: 16.1px;
    padding-left: 9.5px;
    padding-top: 9.8px;
}
.signup{
    margin-top: 6px;
    margin-left: 12px;
    background-color:var(--primary);
    height: 20.2px;
    border-radius: 500px;
    padding: 8px 12px;
}
.signup a{
    text-decoration: none;
    color:var(--secondary);
    font-size: 14px;
    font-family:"UberMoveText";
    align-items: center;
    font-weight: 700px;
    line-height: 16px;
    display: block;
    padding: 0.3px;
    padding-left: 0.3px;
    padding-top: 0.5px;
    padding-bottom: 0.3px;
    padding-right: 0.3px;
    margin-top: 1px;
}
.main{
    position: relative;
}
/*banner*/
.wrapper-banner{
    position: absolute;
    padding: 0 16px;
    top:0.2vh;
    font-family: UberMove, sans-serif;
    font-size: 36px;
    letter-spacing: normal;
    font-weight: 600px;
    line-height: 44px;
    color: var(--primary);
    cursor:pointer;
}
/*banner end */

/* home form*/
.wrapper-form{
   width:100vh;
}
/* delivery  address start*/
.input-container-1{
    width:52.2vh;
    height:10vh;
    background-color:var(--secondary);
    display: flex;
    position: absolute;
    top: 30.5vh;
    margin-left: 16px;
    padding: 0.7px;
    margin-bottom: 5px;
}
.input-container-1 img{
    width:24px;
    height:24px;
    margin-top: 16.2px;
    margin-left: 15px;
}
.input-container-1 .text{
    color: #4B4B4B;
    font-size: 16px;
    margin-left: 12px;
    margin-top: 18.2px;
    font-family: "UberMoveText";
}
/*delivery adress end */

/*delivery time start */
.input-container-2{
    width:52.2vh;
    height:10vh;
    background-color:var(--secondary);
    display: flex;
    position: absolute;
    top: 42.2vh;
    margin-left: 16px;
    padding: 0.8;
    margin-top: 0px;
}
.input-container-2 img{
    width:24px;
    height:24px;
    margin-top: 16px;
    margin-left: 17px;
}
.input-container-2 .text{
    color: var(--primary);
    font-size: 17px;
    margin-left: 12px;
    font-weight:700px;
    font-family:"UberMoveText";
    margin-top: 18px;
}
#drop{
    margin-left:107px;

}
/* end delivery time*/
/*search button*/
.input-container-3{
    width:52vh;
    height:10vh;
    background-color:var(--primary);
    display: flex;
    position: absolute;
    top: 55vh;
    margin-left: 16px;
    padding: 0.8;
    margin-top: 0px;
    border-radius: 8px;
}
.input-container-3 a{
    text-decoration: none;
    margin-top:16px;
    margin-left: 80px;
    font-size: 18px;
    color: var(--secondary);
    font-family:"UberMoveText" ;
    font-weight: 1200px; 
}
/*end search button*/
/*signIn link*/
.input-container-4{
    width:52vh;
    height:2vh;
    color:var(--primary);
    display: flex;
    position: absolute;
    top: 66vh;
    margin-left: 17px;
    margin-top: 20px;
}
.input-container-4 a{
    text-decoration: underline;
    font-size: 16px;
    color: var(--primary);
    font-family:"UberMoveText" ;
    font-weight: bold; 
}
.input-container-4 p{
    margin-top:0;
    margin-right: 3px;
}
/* end*/

.app{
padding-top:14px;
margin-top: 15px;
display: flex;
}
.uber-logo{
    margin-left: 12px;
    margin-top: -3px;;
    width:55%;
    height:10vh;
}
.uber-logo img {
    margin-top: 30px;
    height: 64px;
    width: 64px;
}
.uber-content{
    font-size: 24px;
    font-weight: bold;
    font-family:"UberMove";    
}
/*end of app*/
.upper-applink{
    width: 30%;
    height:20vh;
    display:flex;
    background-color: #f0dbdb;
}
#applogo{
 width: 30%;
 margin-left: 70px;
 display: flex;
}
#applogo img{
    width: 16px;
    height: 16px;
}
 .text-app{
    width: 70%;
    color: var(--primary);
    display: flex;
}
/* service*/
.service{
    width: 100%;
    height: auto;
    display: flex;
    flex-flow: column;
}
.service-1{
    margin: 7px;
    width: 100%;
    height: auto;
}
.service-1 img{
    margin-left: 15px;
    width: 280px;
    height: 190px;
}
.service-1 p{
    font-size: 28px;
    margin-left: 15px;

}
.service-2{
    margin: 7px;
    width: 100%;
    height: auto;
}
.service-2 img{
    width: 280px;
    height: 190px;
    margin-left: 15px;
}
.service-3{
    margin: 7px;
    width: 100%;
    height:auto;
}
.service-3 img{
    width: 280px;
    height: 190px;
    margin-left: 15px;
}